<div class="row  justify-content-between border rounded border-1 mb-2">

  <div class="col-auto col-auto">
    <div class="media flex-column flex-sm-row">
      <img class=" img-fluid" [src]="cartItem.product.url" width="62" height="62">
      <div class="media-body  my-auto">
        <div class="row ">
          <div class="col-auto">
            <p class="mb-0"><b>{{cartItem.product.name}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" pl-0 flex-sm-col col-auto  my-auto w-25" >
    <input type="number"  class="form-control" min="1" [(ngModel)]="quantity" (ngModelChange)="upadateQantity()"/>
  </div>
  <div class=" pl-0 flex-sm-col col-auto  my-auto ">
    <p><b>{{cartItem.quantity * cartItem.product.price}}</b></p>
  </div>

  <div class=" pl-0 flex-sm-col col-auto my-auto w-25">
    <button class="btn btn-danger"(click)="deleteItem(cartItem);">DELETE</button>
  </div>

</div>
